In [6]:
'''spark를 멈추는 메소드'''
# sc.stop()

In [7]:
import pyspark 
from pyspark import SparkContext 
sc = SparkContext()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('yarn').appName('').getOrCreate()

In [8]:
# 'SparkSession.read.json()'은 dataframe을 반환함
videoJSON = spark.read.json("/example/videoData.json")
# 'SparkSession.sql()'을 통해 sql문을 작성할 때 해당 dataframe 객체를 table로 인식하게 만들기 위해 다음 코드를 입력함
videoJSON.createOrReplaceTempView("videoJSON")

In [10]:
videoJSON

DataFrame[customer_id: bigint, show_id: bigint, state: string, timestamp: bigint]

In [15]:
# 'DataFrame.show()'는 테이블 형식으로 결과물을 출력함
videoJSON.show(100, False)

+-----------+-------+-----------------+----------+
|customer_id|show_id|state            |timestamp |
+-----------+-------+-----------------+----------+
|24         |308    |open             |1510505885|
|78         |580    |open             |1510505888|
|84         |378    |open             |1510505895|
|71         |830    |open             |1510505898|
|64         |473    |open             |1510505903|
|58         |648    |open             |1510505908|
|25         |842    |open             |1510505915|
|67         |628    |open             |1510505919|
|57         |721    |open             |1510505923|
|54         |729    |open             |1510505930|
|38         |107    |open             |1510505933|
|79         |788    |open             |1510505940|
|33         |841    |open             |1510505941|
|46         |566    |open             |1510505946|
|25         |842    |finish_completed |1510505952|
|76         |91     |open             |1510505959|
|90         |707    |open             |1510505965|
|85         |413    |open             |1510505966|
|4          |200    |open             |1510505975|
|81         |45     |open             |1510505979|
|70         |524    |open             |1510505984|
|92         |568    |open             |1510505988|
|21         |576    |open             |1510505993|
|29         |557    |open             |1510505999|
|43         |43     |open             |1510506004|
|64         |340    |open             |1510506008|
|64         |473    |open             |1510506006|
|35         |310    |open             |1510506014|
|9          |137    |open             |1510506016|
|71         |333    |open             |1510506023|
|71         |830    |open             |1510506021|
|39         |52     |open             |1510506030|
|74         |608    |open             |1510506031|
|34         |233    |open             |1510506036|
|1          |693    |open             |1510506044|
|4          |677    |open             |1510506046|
|4          |677    |open             |1510506048|
|29         |789    |open             |1510506053|
|29         |789    |open             |1510506052|
|88         |346    |open             |1510506060|
|26         |713    |open             |1510506065|
|43         |43     |finish_incomplete|1510506066|
|14         |584    |open             |1510506073|
|2          |634    |open             |1510506080|
|19         |947    |open             |1510506081|
|0          |574    |open             |1510506090|
|50         |514    |open             |1510506095|
|71         |426    |open             |1510506100|
|71         |333    |open             |1510506097|
|50         |514    |finish_incomplete|1510506101|
|82         |780    |open             |1510506110|
|39         |998    |heartbeat        |1510506113|
|44         |656    |open             |1510506118|
|10         |917    |open             |1510506125|
|74         |562    |open             |1510506128|
|74         |608    |open             |1510506129|
|3          |24     |open             |1510506135|
|0          |574    |finish_incomplete|1510506136|
|46         |566    |finish_completed |1510506144|
|2          |983    |heartbeat        |1510506148|
|31         |878    |open             |1510506152|
|56         |973    |open             |1510506159|
|78         |580    |finish_incomplete|1510506163|
|4          |200    |finish_incomplete|1510506166|
|64         |340    |finish_completed |1510506173|
|18         |900    |open             |1510506177|
|18         |900    |finish_completed |1510506185|
|73         |252    |open             |1510506188|
|15         |276    |open             |1510506192|
|61         |123    |open             |1510506197|
|3          |24     |finish_completed |1510506204|
|3          |614    |open             |1510506207|
|1          |693    |finish_completed |1510506212|
|30         |684    |open             |1510506218|
|28         |784    |open             |1510506222|
|87         |47     |open             |1510506226|
|13         |401    |open             |1510506234|
|73         |70     |open             |1510506239|
|73         |70     |open             |1510506240|
|16         |45     |open             |1510506243|
|54         |247    |heartbeat        |1510506246|
|31         |878    |finish_completed |1510506255|
|3          |614    |finish_incomplete|1510506259|
|6          |869    |open             |1510506261|
|56         |973    |finish_incomplete|1510506266|
|49         |869    |open             |1510506271|
|17         |750    |open             |1510506280|
|0          |381    |open             |1510506285|
|4          |731    |open             |1510506286|
|87         |47     |finish_incomplete|1510506293|
|73         |252    |finish_incomplete|1510506296|
|50         |54     |open             |1510506303|
|36         |549    |open             |1510506307|
|85         |413    |finish_incomplete|1510506311|
|46         |329    |open             |1510506316|
|11         |265    |open             |1510506323|
|86         |690    |open             |1510506327|
|36         |197    |open             |1510506332|
|36         |549    |open             |1510506331|
|54         |729    |finish_completed |1510506340|
+-----------+-------+-----------------+----------+
only showing top 100 rows

In [11]:
videoJSON.count()

1166450

In [17]:
# 'DataFrame.collect()'는 각 행을 요소로 가진 리스트로 결과물을 출력함
spark.sql("select distinct state from videoJSON").collect()

[Row(state='finish_incomplete'),
 Row(state='heartbeat'),
 Row(state='open'),
 Row(state='finish_completed')]

In [20]:
# 'SparkSession.sql()'메소드는 transformation에 해당함. 즉, 새로운 dataframe을 반환함
showid_with_state_open = spark.sql("select show_id, count(*) as cnt_open from videoJSON where state='open' group by show_id")
showid_with_state_open.show()

+-------+--------+
|show_id|cnt_open|
+-------+--------+
|     29|     676|
|     26|     635|
|    964|     666|
|    474|     647|
|    558|     649|
|     65|     694|
|    418|     684|
|    191|     602|
|    541|     643|
|    270|     698|
|    730|     644|
|    293|     641|
|    938|     690|
|    222|     655|
|    720|     720|
|    367|     719|
|    243|     709|
|    442|     687|
|    278|     708|
|    705|     652|
+-------+--------+
only showing top 20 rows

In [21]:
showid_with_state_incomplete = spark.sql("select show_id, count(*) as cnt_Fin from videoJSON where state='finish_incomplete' group by show_id")
showid_with_state_incomplete.show()

+-------+-------+
|show_id|cnt_Fin|
+-------+-------+
|     29|    158|
|     26|    177|
|    964|    166|
|    474|    186|
|    418|    163|
|     65|    190|
|    541|    155|
|    558|    152|
|    191|    139|
|    270|    180|
|    938|    184|
|    730|    160|
|    222|    150|
|    293|    169|
|    720|    173|
|    243|    175|
|    442|    177|
|    705|    146|
|    367|    175|
|    278|    159|
+-------+-------+
only showing top 20 rows

In [23]:
# 'DataFrame.join()'메소드는 transformation에 해당함. 새로운 dataframe을 반환함
left_join = showid_with_state_open.join(showid_with_state_incomplete, showid_with_state_open.show_id == showid_with_state_incomplete.show_id, how = 'left')
left_joi함

DataFrame[show_id: bigint, cnt_open: bigint, show_id: bigint, cnt_Fin: bigint]

In [24]:
left_join.show()

+-------+--------+-------+-------+
|show_id|cnt_open|show_id|cnt_Fin|
+-------+--------+-------+-------+
|     26|     635|     26|    177|
|     29|     676|     29|    158|
|    474|     647|    474|    186|
|    964|     666|    964|    166|
|     65|     694|     65|    190|
|    191|     602|    191|    139|
|    418|     684|    418|    163|
|    541|     643|    541|    155|
|    558|     649|    558|    152|
|    222|     655|    222|    150|
|    270|     698|    270|    180|
|    293|     641|    293|    169|
|    730|     644|    730|    160|
|    938|     690|    938|    184|
|    243|     709|    243|    175|
|    278|     708|    278|    159|
|    367|     719|    367|    175|
|    442|     687|    442|    177|
|    705|     652|    705|    146|
|    720|     720|    720|    173|
+-------+--------+-------+-------+
only showing top 20 rows

In [25]:
import pandas as pd

# 'DataFrame.toPandas()'메소드는 spark dataframe을 pandas dataframe으로 변환시킴
left_join_PD = left_join.toPandas()

In [26]:
left_join_PD['ratio'] = left_join_PD['cnt_Fin'] * 100 / left_join_PD['cnt_open']
left_join_PD

     show_id  cnt_open  show_id  cnt_Fin      ratio
0         26       635       26      177  27.874016
1         29       676       29      158  23.372781
2        474       647      474      186  28.748068
3        964       666      964      166  24.924925
4         65       694       65      190  27.377522
..       ...       ...      ...      ...        ...
995      458       651      458      178  27.342550
996      739       705      739      150  21.276596
997      211       671      211      160  23.845007
998      469       642      469      162  25.233645
999      526       694      526      164  23.631124

[1000 rows x 5 columns]